footer{
  margin-top: 1.3rem;
  background: $very-dark-blue;
  .upper{
    padding: 1rem 2rem 0;
    background: $bright-red url(../images/bg-simplify-section-mobile.svg) no-repeat left center;
    @include flexCenter(column);
    text-align: center;
    height: 72.2vh;

    h1{
      font-size: 4rem;
      color: #fff;
      line-height: 5rem;
    }
    button{
      color: $bright-red;
      background: #fff;

      &:hover, &:focus{
        color: #efc3b8;
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  .lower{
    height: 95.8vh;
    padding:2.3rem 2.5rem 2.2rem;

    form{
      @include flexCenter(row);
      width: 100%;
      max-width: 45rem;
      margin: auto;

      input{
        height: 4.4rem;
        font-family: 'Be Vietnam', sans-serif;
        margin: 2rem 0;
        margin-right: 1rem;
        border: none;
        border-radius: 2.5rem;
        padding-left: 2.4rem;
        width: 80%;

        &.error{
          color: rgb(244, 98, 98);
          border: 0.2rem solid rgb(244, 98, 98);
        }

        &::placeholder{
          font-family: 'Be Vietnam', sans-serif;
          color: $dark-grayish-blue;
          font-size: 1.28rem;
        }
      }

      label{
        display: none;
      }

      button{
        width: 26%;
        padding: 1.35rem 0;
        text-transform: uppercase;

        &:hover, &:focus{
          cursor: pointer;
          opacity: 1;
          background: #f98f75;
        }
      }
    }

    .footer-list{
      @include flexCenter(row);
      align-items: flex-start;
      z-index: 1;
      width: 103%;
      margin: 0 3.9rem;
      padding: 2.6rem 0 2rem 0;

      ul{
        margin-top: 0.1rem;
        width: 60%;

        li{
          margin-bottom: 1.4rem;

          a{
            color: #fff;
            font-size: 1.4rem;
            font-weight: 400;
            letter-spacing: 0.3px;

            &:hover, &:focus{
              color: $bright-red;
              cursor: pointer;
              transition: 0.2s ease-out;
            
            }
          }
        }
      }
    }

    .social{
      padding: 1.3rem 1.6rem 1.3rem 0rem;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: baseline;

      a{
        margin: 0 2.2rem;
  
        i{
          color: #fff;
          width: 2rem;
          height: 2rem;
          font-size: 3.2rem;

          &:hover, &:focus{
            color: $bright-red;
            cursor: pointer;
            transition: 0.2s ease-out;
          
          }
        }

        &:nth-child(1), &:nth-child(5){
          i{
            font-size: 3.6rem;
          }
        }

        &:nth-child(2){
          border-radius: 4rem;
          background-color: #fff;
          padding: 0.8rem 0.6rem 0.4rem;
          position: relative;
          top: -0.4rem;
          &:hover, &:focus{
            background-color: $bright-red;
            cursor: pointer;
            transition: 0.2s ease-out;
          }

          i{
            color: $very-dark-blue;
            font-size: 1.8rem;
          }
        }
      }
    }

    .logo{
      width: 100%;
      margin: auto;
      @include flexCenter(row);
      margin-top: 0.5rem;
      position: relative;
      right: 0.2rem;

      img{
        padding: 3.4rem 0 5rem 0;
        transform: scale(1.08);
      }
    }

    .copyright{
      font-size: 1.3rem;
      opacity: 0.4;
      font-weight: 400;
      width: fit-content;
      margin: auto;
      color: $very-light-gray;
      letter-spacing: -0.2px;
    }
  }
}

@media (min-width: 600px){
  footer{
    .upper{
      height: 55vh;
    }
  }
}

@media (min-width: 750px){
  footer{
    .upper{
      background: $bright-red url(../images/bg-simplify-section-desktop.svg) no-repeat;
      background-size: cover;
      padding: 0;

      h1{
        max-width: 40rem;
      }
    }

    .lower{
      height: fit-content;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 6rem 16rem 10rem;

      form{
        height: fit-content;
        margin: 0;
        grid-column: 2;
        grid-row: 1;
      }
      .footer-list{
        grid-column: 1;
        grid-row: 2;
      }
      .social{
        width: fit-content;
        margin-left: 2rem;
        grid-column: 1;
        grid-row: 3;
      }
      .logo{
        justify-content: flex-start;
        margin-left: 4rem;
        grid-column: 1;
        grid-row: 1;
      }
      .copyright{
        margin: 3rem 0 0 1rem;    
        height: fit-content;
      }
    }
  }
}

@media (min-width: 950px){
  footer{
    .upper{
      flex-direction: row;
      justify-content: space-between;
      padding: 0 5rem 0 4rem;
      height: 28vh;

      button{
        margin: 0;
        box-shadow: 0rem 1rem 1rem -0.5rem #d55c43;
      }
    }
    
    .lower{
      height: 29.5vh;
      grid-template-columns: 28% 37% 35%;
      grid-template-rows: 5rem 6rem 5rem;

      form{
        grid-column: 3;
        grid-row: 1;

        button{
          text-transform: capitalize;
        }
      }
      .footer-list{
        grid-column: 2;
        grid-row: 1;
      }
      .social{
        grid-row: 3;

        a{ 
          margin: 0 0.7rem;
          i{
            font-size: 2.4rem;
          }

          &:nth-child(1), &:nth-child(2), &:nth-child(5){
            i{
              font-size: 2.4rem;
            }
          }

          &:nth-child(2){

            top: 0.28rem;
            padding: 0;
            width: 2.4rem;
            height: 2.4rem;
            position: relative;

            i{
              position: absolute;
              font-size: 1.4rem;
              top: 22.6%;
              left: 18%;
            }
          }
        }
      }

      .copyright{
        grid-column: 3;
        grid-row: 3;
      }
    }
  }
}

@media(min-width: 1200px){
  footer{
    .upper{
      height: 24vh;
      background-position: 23rem bottom;
      padding: 0 14.5rem 0 15rem;

      h1{
        line-height: 1.18;
        font-size: 3.45rem;
        text-align: left;
        font-weight: 500;
      }

      button{
        padding: 1.16rem 0;
        font-size: 1.1rem;
        width: 12rem;
      }
    }

    .lower{
      height: 27.8vh;
      padding: 2.3rem 12.5rem 2.2rem;
      grid-template-columns: 25% 47% 35%;

      .logo{
        img{
          transform: scale(1);
        }
      }
      form{
        width: 75%;
      }

      .copyright{
        width: 72%;
        text-align: right;
      }

      .social{
        a{
          i{
            font-size: 2.2rem;
          }

          &:nth-child(1), &:nth-child(5) {
            i{
              font-size: 2.2rem;
            }
          }  

          &:nth-child(2){
            width: 2.2rem;
            height: 2.2rem;

            i{
              font-size: 1.2rem;
              top: 24.3%;
              left: 20%;
            }
          }
        }
      }
    }
  }
}

@media (min-width:1400px){
  footer{
    .upper{
      height: 24.5vh;
      background-position: 25rem bottom;
      padding: 0 16rem 0 16.5rem;

      h1{
        font-size: 3.9rem;
        margin-top: -0.5rem;
        max-width: 46rem;
        line-height: 1.14;
      }

      button{
        width: 13.8rem;
        padding: 1.55rem 0 1.15rem;
        margin-top: 0.2rem;
        font-size: 1.2rem;
      }
    }

    .lower{
      padding-left: 13.3rem;
      grid-template-columns: 23.5% 47% 34%;

      .social{
        margin-top: 2rem;
        margin-left: 3.5rem;

        a{
          margin: 0 0.6rem;
        }
      }

      .footer-list{
        margin-top: 1.4rem;
      }

      form{
        margin-top: 1.5rem;
        margin-left: 3.8rem;
        width: 68%;

        input{
          padding-left: 1.4rem;
        }

        button{
          font-size: 1.1rem;
        }
      }
      .copyright{
        margin-top: 3.8rem;
        margin-left: 2rem;
      }
    }
  }
}