/* MOBILE FIRST */ 

// variables
$bright-red: rgb(242, 95, 58);
$dark-blue: rgb(36, 45, 82);
$dark-grayish-blue: rgb(144, 149, 167);
$very-pale-blue: rgb(29, 30, 37);
$very-pale-red: rgb(255, 239, 235);
$very-light-gray: rgb(250, 250, 250);

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html{
  font-size: 62.5%;
  font-family: 'Be Vietnam', sans-serif;
  // overflow: hidden;
}

.page-container{
  overflow-x: hidden;
}

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

h1, h2, h3, h4, h5, h6{
  color: $dark-blue;
}

p{
  color: $dark-grayish-blue;
}

button{
  padding: 1.35rem 3.2rem;
  border-radius: 3rem;
  background: $bright-red;
  color: #fff;
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 2.8rem auto;
  border: none;
}

@import './header';
@import './banner';
@import './about';